/*------------------------------------*\
    #FORM
\*------------------------------------*/
form {
	margin: 0;
	padding: 0;
}


label {
	display: block;
	font-family: $brandon;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding-left: 15px;
	position: relative;
	top: 45px;
	transition: top 0.5s ease-in-out;

	&.out-of-the-way {
		top: 0;
	}

	.radio-buttons & {
		display: inline;
		top: 0;
	}
}


::placeholder {

}


input[type=text],
input[type=email],
input[type=url],
input[type=phone],
textarea {
	background: $almost-white;
	border: none;
	box-sizing: border-box;
	box-shadow: none;
	font-family: $serif;
	font-size: em(18px);
	margin-bottom: 30px;
	outline: none;
	padding: 15px;
	text-shadow: none;
	width: 100%;

	&:hover {
		border: none;
		outline: none;
	}

	&:focus {
		border: none;
		box-shadow: none;
		outline: none;
		text-shadow: none;
	}

}

input[type=radio] {
	display: none;
}

input[type=radio] + label {
	background: url('../img/radio--unchecked.svg') left top no-repeat;
	background-size: 20px 20px;
	line-height: 25px;
	padding-left: 30px;
}

input[type=radio]:checked + label {
	background: url('../img/radio--checked.svg') left top no-repeat;
	background-size: 20px 20px;
}


textarea {
}


button,
input[type=submit] {
	border: none;
	cursor: pointer;
}
