/*------------------------------------*\
    #THEME
\*------------------------------------*/

// COLOR
$primary     : $dusty-orange;




// TYPOGRAPHY
$sans-serif  : $lato;
$serif       : $noto;


// SPACING, MARGINS, AND PADDING
$nav-left-padding: 50px;
