/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/* GLOBAL */



/* COLORS */
$dusty-orange         : #f06c32;



/* FONTS */
$lato                 : 'Lato';
$noto                 : 'Noto Serif';
$brandon              : "brandon-grotesque";

$weight-regular       : 400;
$weight-black         : 900;


$mobile-padding       : 20px;
