/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/* GLOBAL */



/* COLORS */
$dusty-orange         : #f06c32;



/* FONTS */
$lato                 : 'Lato';
$noto                 : 'Noto Serif';



$mobile-padding       : 20px;
