/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

/* GLOBAL */



/* COLORS */
$dusty-orange         : #f06c32;
$almost-white         : #efefef;



/* FONTS */
$lato                 : 'Lato';
$noto                 : 'Noto Serif';
$brandon              : "brandon-grotesque";
$alternate            : "alternate-gothic-no-1-d";


$weight-regular       : 400;
$weight-bold          : 800;
$weight-black         : 900;


$mobile-padding       : 20px;
