/*------------------------------------*\
    #ASIDE
\*------------------------------------*/

.aside {
    align-items: flex-end;
    background: rgba($primary, .66);
    box-sizing: border-box;
    display: flex;
    height: 100%;
    padding: 50px 35px;
    width: 100%;

    .nav {

        &__wrapper {
            position: fixed;
        }

        ul {
            @include no-bullets;

            li {
                line-height: 2.33;
            }

            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}
